<div id="customBtn" class="customGPlusSignIn" [class.hide]="isLoggedIn">
  <span class="icon"></span>
  <span class="buttonText">Google</span>
</div>
<div class="card text-center" style="width: 20rem;" *ngIf="name?.length > 0">
  <img class="card-img-top" [src]="imageUrl" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Hello, {{name}}</h4>
    <p class="card-text">You are signed with {{email}}</p>
  </div>
  <!-- <a href="#" class="btn btn-primary" onclick="signOut();">Sign out</a> -->
</div>
